# Serdes Configuration File  
# -------------------------------------------------------------------------
# This file is used to configure the Libserdes.
#  
# General Guidelines:
# - Lines starting with '#' are treated as comments and ignored during 
#   processing.
# - Each configuration parameter must be defined in the format:  
#     parameter_name=value  
# - Only the first occurrence of '=' in a line is used to split the parameter 
#   name and its value.
# - Ensure there are no trailing spaces around the parameter name or value.  
#  
schema.registry.url=<IP1:PORT1>